.cell {
	background-color: rgb(165, 108, 42);
	width: 40px;
	border-radius: 10px;
	text-align: center;
	background-image: url("wood.jpg");
}

.p1 {
	color: lightpink;
}

.p2 {
	color: lightblue;
}

.p1-dark {
	color: rgb(173, 58, 79);
	font-weight: bolder;
}

.p2-dark {
	color: rgb(66, 149, 172);
	font-weight: bolder;
}

.home {
	height: 160px;
}

.pod {
	height: 80px;
}

table {
	background-color: rgb(102, 65, 23);
	background-image: url("wood2.jpg");
	border-radius: 10px;
	border-spacing: 5px;
}

.outer {
	padding: 5px;
	border: 1px solid black;
}

.cell-btn {
	background: none;
	border: none;
	font-size: 20px;
	font-family: sans-serif;
}